html{
    font-size: 10px;
    scroll-behavior: smooth;
}
body {
    font-family: 'Inter', sans-serif;
    background-color: #DDE6F1;

}
/*HEADER*/
.header{
    padding: 1.6rem 0;
    background-color: #627b564d;

}
.logo-section{
    display: flex;
    align-items: center;
}
.logo-section img{
    width: 10.2rem;
    height: 6.4rem;
    margin-left: 4.1rem;
}
.logo-section p{
    margin-bottom: 0;
    margin-left: 1rem;
    font-size: 2rem;
    font-weight: 800;
}
.memu-section{
}
.menu-section .menu-content{
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-content > li{
    list-style-type: none;
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 2rem;
}
.menu-content li a{
    color: #000000;
    text-decoration: none;
}
.menu-content li a img{
    width: 2.1rem;
    height: 1.8rem
}
.menu-content > li:nth-child(3) > a{
    color: #617A55
}
.menu-content > li:not(:nth-child(1)){
    padding-left: 6rem
}
.menu-content .triangle{
    display:none;
    position: absolute;
    z-index: 2;
    top: 4.6rem;
    margin-left: 8rem;
    width:0;
    height: 0;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-bottom: 1rem solid white;
}
.menu-content .subnav{
    display: none;
    z-index: 1;
    position: absolute;
    top: 5.6rem;
    background-color: #fff;
    padding: 1rem 1rem;
    box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.25);
    border-radius: 1rem
}
.menu-content li:hover .subnav, .menu-content li:hover .triangle{
    display: block
}
.menu-content .subnav > li{
    list-style-type: none;
    padding: 1.5rem 1.6rem;
    width: 100%
}
.menu-content .subnav > li:nth-child(2) > a{
    color: #617A55;
}
.menu-content .subnav > li:hover{
    background-color: #E9E6E6;
}
.auth-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.auth-section li:nth-child(1){
    font-weight: 700;
    font-size: 2rem;
    color:#617A55;
}
.auth-section li:nth-child(2) .user-display{
    display: flex;
    margin-left: 1rem;
    background-color: #617A55;
    padding: 1.1rem 1.1rem;
    border-radius: 1rem;
}
.user-display .username{
    color:white;
    font-size: 2.2rem;
    font-weight: 700;
    margin: 0 0.6rem;
    margin-top: 0.2rem;
}
.user-display .pic2{
    margin-top: 0.6rem;
}
.auth-section .triangle{
    /* display:none; */
    /* position: absolute; */
    /* z-index: 2; */
    /* top: 6.2rem; */
    margin-right: 20rem;
    width:0;
    height: 0;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-bottom: 1rem solid transparent
}
.auth-section .subnav{
    /* display: none; */
    width:26rem;
    /* z-index: 1; */
    /* position: absolute; */
    background-color: #fff;
    padding: 1rem 1rem;
    box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.25);
    border-radius: 1rem
}
.auth-section .sub{
    display: none;
    position: absolute;
    right: 3rem;
    z-index: 1;
}
.auth-section li:hover .sub{
    display: block
}
.auth-section .subnav > li{
    list-style-type: none;
    padding: 1.5rem 1.6rem;
    width: 100%
}
.auth-section .subnav li a{
    color: black;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
}
.auth-section .subnav > li:hover{
    background-color: #E9E6E6;
}
/*END OF HEADER*/
.body-cst{  
    background-color:rgba(97, 122, 85, 0.3);
    padding-bottom: 13rem;
}
.body-content{
    margin-top: 9.6rem;
    padding-left: 5rem;
}
.body-content .title{
    color:#617A55;
    font-weight: 700;
    font-size: 3rem;
    margin:0
}
.body-content .subtitle{
    font-weight: 800;
    font-size: 6rem;
    margin-top: 2rem;
    margin-bottom: 0;
    line-height: 7.261rem;
}
.body-content .content{
    font-weight: 400;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 0;
    line-height: 2.42rem;
}
.body-content .button{
    margin-top: 5rem;
    background-color: #617A55;
    border-radius: 5rem;
    border-color: #617A55;
    outline: #617A55;
    border-style: none;
    padding: 1.3rem 4.5rem;
    width: 28rem;
    color: white;
    font-size: 2.5rem;
    font-weight: 700;
}
.body-content > .button > a{
    text-decoration: none;
    color:white;
}
.body-img{
    margin-top: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.body-img > img{
    width: 80%;
    height: 100%
}
.body-services{
    margin-top: 7rem;
    font-weight: 700;
    font-size: 6rem;
    text-align: center;
}
.carousel-content {
    position: absolute;
    width: 100rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.carousel-content .card{
    background-color: transparent;
    outline: none;
}
.carousel-background {
    position: relative;
}
.carousel-background img {
    width: 100%;
    height: auto;
    filter: brightness(0.5); /* Adjust the brightness value as needed */
}
.card-title{
    text-align: center;
    color: white;
    font-weight: 800;
    font-size: 8rem;
}
.card-text{
    margin-top: 3rem;
    color:white;
    font-weight: 400;
    font-size: 3rem;
}
.card-contact{
    margin-top: 6rem;
    margin-left: 30rem;
    border-color: #617A55;
    outline:#617A55;
    background-color: #617A55;
    border-style: none;
    border-radius: 5rem;
    padding: 1.3rem 3.6rem;
    font-weight: 700;
    font-size: 3rem;
    color: white;
}
.card-contact:focus{
    border-color: #617A55;
    background-color: #617A55;
}
.body-testimonial{
    margin-top: 6rem;
    font-weight: 700;
    font-size: 3rem;
    color:#617A55;
    text-align: center;
}
.body-tc{
    text-align: center;
    font-weight: 800;
    font-size: 6rem;
}
.client{
    display:flex;
    justify-content: space-evenly;
}
.client-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 4.4rem 1.6rem;
    box-shadow: 0px 0px 1rem 0.2rem rgba(176, 176, 176, 0.47);

}
.client-card > img{
    width:7.631rem;
    height: 7.631rem;
    border-radius: 100%;

}
.client-card .name{
    font-weight: 700;
    font-size: 3rem;
}
.client-card .response{
    font-weight: 400;
    font-size: 1.7rem;
    margin-top: 3rem;
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b8c6c2;
    margin-top: 5%;
    height: fit-content;
    padding: 3%;
}
footer .logo-column {
    flex-basis: 50%;
    display: flex;
    justify-content: left;
    font-size: 1.5rem;
    font-weight: bolder;
}
footer .logo-column .logo-container {
    display: flex;
    width: fit-content;
    justify-content: center;
}
footer .logo-column .logo-container .logo-text {
    cursor: pointer;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 3rem;
}
footer .logo-column .logo-container .logo-image {
    /* flex: 0 0 100%; */
}
footer .logo-column .logo-container .logo-image img {
    max-width: 13rem;
    object-fit: contain;
    object-position: center;
}
footer .column {
    flex-basis: 16.6666666667%;
    line-height: 200%;
    font-size: 1.5rem;
}
footer .column .contact-info-footer p {
    line-height: 205%;
}

