html {
  font-size: 10px;
}

$background-color: #dde6f1;
$green: #80957c;
$green-hover: #4d6144;

$backgroundColor: #dde6f1;
$grey: #b8c6c2;
$greenText: #617a55;

$bolding: bolder;
$title-font-size: 40px;
$text-font-size: 20px;
$border-radius: 15px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
//end of header

.body-container {
  section {
    .heading {
      text-align: center;
      div {
        margin-top: 2%;
        display: flex;
        justify-content: center;
        h1 {
          color: black;
          font-weight: bolder;
          font-size: 5rem;
          font-weight: $bolding;
          width: 70%;
        }
      }
      h2 {
        margin-top: 4%;
        font-size: 20px;
        font-weight: bold;
        color: $greenText;
      }
    }
  }
  .section-head {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: $grey;
    .desc-container {
      width: 50vw;
      padding: 4rem 5rem 4rem 4rem;
      h2 {
        color: $green-hover;
        font-weight: bold;
        font-size: 2rem;
      }
      h1 {
        color: black;
        font-weight: bolder;
        font-size: 4rem;
      }
      p {
        line-height: 3rem;
        margin-top: 3%;
        font-size: $text-font-size;
      }
      .button-container {
        padding-top: 3rem;
        font-weight: bold;
        font-size: 2.5rem;
        button {
          border: 0px;
          border-radius: 50px;
          background-color: #617a55;
          color: white;
          padding: 1rem 1rem;
          width: 50%;
        }
      }
    }
    .img-container {
      max-height: 50rem;
      width: 50vw;
      display: flex;
      justify-content: center;
      .image1 {
        padding-top: 10%;
        padding-bottom: 10%;
        padding-right: 10%;
        img {
          border-radius: 20px;
          height: 100%;
          max-height: fit-content;
          object-fit: contain;
          object-position: center;
        }
      }
      .image2 {
        padding-top: 5%;
        padding-bottom: 5%;
        padding-right: 4rem;
        img {
          border-radius: 20px;
          height: 100%;
          max-height: fit-content;
          object-fit: contain;
          object-position: center;
        }
      }
    }
  }
  .section-body {
    .searchbar-container {
      padding: 0;
      padding-top: 2rem;
      .input-group {
        height: 4rem;
        input {
          font-size: 2rem;
          height: 100%;
        }
      }
      .dropdown {
        height: 4rem;
        line-height: 2.5rem;
        button {
          font-size: 2rem;
          height: 100%;
        }
        .dropdown-menu {
          font-size: 1.5rem;
        }
      }
    }
  }
  .section-workshops {
    .row {
      justify-content: center;
      .card {
        border-radius: 15px;
        margin-top: 5%;
        padding: 3%;
        .card-img {
          border-radius: 7%;
        }
        .card-body {
          position: relative;
          padding-top: 0;
          padding-bottom: 0;
          height: 100%;
          line-height: 150%;
          .card-title {
            font-size: 3rem;
            width: 70%;
            font-weight: bold;
            color: #617a55;
          }
          .desc-text {
            font-size: 1.5rem;
            line-height: 2rem;
          }
          .card-text {
            padding-top: 3rem;
            font-size: 1.5rem;
            line-height: 3rem;
          }
          .extra-price {
            padding-top: 1.5rem;
            width: 100%;
            display: flex;
            flex-direction: row;

            .button-container {
              width: 40%;
              font-weight: bold;
              font-size: 18px;
              button {
                border: 0px;
                border-radius: 15px;
                background-color: #f69c14;
                color: white;
                padding: 1.5rem 5rem;
              }
            }
            p {
              display: flex;
              align-items: center;
              margin-right: 10%;
              font-size: 20px;
              font-weight: bold;
              color: #617a55;
            }
          }
        }
      }
    }
    .foot-button {
      padding-top: 3rem;
      display: flex;
      justify-content: center;
      button {
        width: 90%;
        border: 0;
        border-radius: 30px;
        color: white;
        background-color: #617a55;
        padding: 0.7rem 0.7rem;
        font-weight: bold;
        font-size: 3rem;
      }
    }
  }
}
