html {
  font-size: 10px;
}

$background-color: #dde6f1;
$green: #80957c;
$green-hover: #4d6144;

$backgroundColor: #dde6f1;
$grey: #b8c6c2;
$greenText: #617a55;

$bolding: bolder;
$title-font-size: 40px;
$text-font-size: 20px;
$border-radius: 15px;

//Vars
:root {
  --rad: 2rem;
  --dur: 0.3s;
  --color-dark: #2f2f2f;
  --color-light: #fff;
  --color-brand: #617a55;
  --font-fam: "Lato", sans-serif;
  --height: 5rem;
  --btn-width: 6rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
//end of header
.body-container {
  section {
    .heading {
      text-align: center;
      div {
        margin-top: 2%;
        display: flex;
        justify-content: center;
        h1 {
          color: black;
          font-weight: bolder;
          font-size: 6rem;
          font-weight: $bolding;
        }
      }
      h2 {
        margin-top: 4%;
        font-size: 3rem;
        font-weight: bold;
        color: $greenText;
      }
    }
  }
  .section-head {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: $grey;
    .search-bar {
      display: flex;
      position: absolute;
      top: 2rem;
      width: 100%;
      justify-content: center;
      form {
        z-index: 1;
        position: relative;
        width: 70%;
        border-radius: var(--rad);
        input,
        button {
          height: var(--height);
          font-family: var(--font-fam);
          border: 0;
          color: var(--color-dark);
          font-size: 1.8rem;
        }
        input[type="search"] {
          opacity: 50%;
          outline: 0;
          width: 100%;
          background: var(--color-light);
          padding: 0 1.6rem;
          border-radius: var(--rad);
          appearance: none; //for iOS input[type="search"] roundedness issue. border-radius alone doesn't work
          transition: all var(--dur) var(--bez);
          transition-property: width, border-radius;
          position: relative;
        }
        button {
          color: white;
          display: none; // prevent being able to tab to it
          position: absolute;
          top: 0;
          right: 0;
          width: var(--btn-width);
          background: var(--color-brand);
          border-radius: 0 var(--rad) var(--rad) 0;
        }
        input:not(:placeholder-shown) {
          border-radius: var(--rad) 0 0 var(--rad);
          width: calc(100% - var(--btn-width));
          + button {
            display: block;
          }
        }
        label {
          position: absolute;
          clip: rect(1px, 1px, 1px, 1px);
          padding: 0;
          border: 0;
          height: 1px;
          width: 1px;
          overflow: hidden;
        }
      }
    }
    img {
      width: 100%;
      object-fit: cover;
    }
    .desc-container {
      color: white;
      position: absolute;
      bottom: 10rem;
      width: 100%;
      padding: 4rem 5rem 4rem 4rem;
      h1 {
        font-weight: bolder;
        font-size: 6rem;
      }
      .date-time {
        font-size: 2rem;
        span {
          font-weight: 200;
          margin-right: 2rem;
        }
      }
    }
  }
  .section-body {
    display: flex;
    .upvote {
      width: 10%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 5rem;
      font-size: 16px;
      .triangle-up,
      .triangle-down {
        cursor: pointer;
        width: 0;
        height: 0;
        border-left: 24px solid transparent;
        border-right: 24px solid transparent;
        content: "";
        display: block;
      }

      .triangle-up {
        border-bottom: 40px solid #617a55;
      }

      .triangle-down {
        border-top: 40px solid #617a55;
      }

      .vote-count {
        margin: 10px 0;
        color: #000;
        font-size: 33px;
        font-family: Open Sans;
        font-weight: 700;
      }
    }
    .content {
      padding: 3rem 0;
      line-height: 4rem;
      width: 90%;
      font-size: 3rem;
      padding-right: 10rem;
      h5 {
        font-size: 4rem;
      }
      .img-container {
        display: flex;
        justify-content: center;
        object-fit: cover;
        padding: 5rem 0;
        img {
          width: 800px;
          height: 550px;
        }
      }
    }
  }
  .section-more {
    .blogs-container {
      padding: 4rem 1rem 4rem 8rem;
      &:hover {
        .blogs-slider {
          &::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.144);
          }
        }
      }
      .blogs-slider {
        display: flex;
        overflow-x: scroll;
        &::-webkit-scrollbar {
          width: 8px;
          height: 8px;
        }
        &::-webkit-scrollbar-track {
          background-color: #dde6f1;
        }
        &::-webkit-scrollbar-thumb {
          background-color: #dde6f1;
          transition: background-color 2s;
        }
        .blog {
          box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.25);
          margin-right: 8rem;
          border-radius: 20px;
          overflow: hidden;
          min-width: 36rem;
          height: 54rem;
          background-color: white;
          .img-container {
            height: 45%;
            width: 100%;
            overflow: hidden;
            img {
              object-fit: cover;
              object-position: center;
            }
          }
          .desc-container {
            padding: 2rem;
            font-size: 1.5rem;
            div {
              padding-bottom: 2rem;
            }
            h5 {
              font-size: 2rem;
              padding-bottom: 2rem;
            }
            .date-time {
              span {
                font-weight: 200;
                margin-right: 2rem;
              }
            }
            .button-container {
              button {
                color: white;
                height: 3.8rem;
                width: 100%;
                border: 0;
                border-radius: 50px;
                background: #617a55;
              }
            }
          }
        }
      }
    }
  }
}
